<div class="note">
  <div class="note_header common_header">
    <%= image_tag "ruby-red.png" %>
    <div class="note_h_left">
      <span class="note_username"><%= get(post.user, "username") %></span>
      <span class='note_time'><%= post.created_at %></span>
    </div>
  </div>
  <div class="note_title">
    <span><%= post.title %></span>
  </div>
  <div class="note_content">
    <span><%= post.content %></span>
  </div>
  <div class="note_actions">
    <%= link_to "View", view_post_path(post.id), class: "sec_btn" %>
  </div>
</div>
